**-results.res
**-balanced-flow-wp.dll
**-balanced-flow.dll
**-trivial.dll
**-balanced-flow-wp.dfy
**-balanced-flow.dfy
**-trivial.dfy
**-balanced-flow-wp.runtimeconfig.json
**-balanced-flow.runtimeconfig.json
**-trivial.runtimeconfig.json
**-strat-3.dll
**-strat-2.dll
**-strat-1.dll
**-strat-3.dfy
**-strat-2.dfy
**-strat-1.dfy
**-strat-3.runtimeconfig.json
**-strat-2.runtimeconfig.json
**-strat-1.runtimeconfig.json
fragments-examples/**/obj
fragments-examples/**/ref
fragments-examples/**/*.cs
fragments-examples/**/*.csproj
fragments-examples/**/*.deps.json
fragments-examples/**/*.pdb

ginger/.stack-work
ginger/**/*.dll
ginger/**/*.runtimeconfig.json
ginger/ginger.cabal

# Generated VIRGo front-end
ginger/src/VIRGo/*.x
ginger/src/VIRGo/*.y
ginger/src/VIRGo/*.txt
ginger/src/VIRGo/*VIRGo.hs
ginger/src/VIRGo/ErrM.hs

result-parser/*.out
result-parser/ginger-result-parser

gomela/**/.DS_Store
gomela/gomela
gomela/Gomela
gomela/pan*
gomela/*.trail
gomela/result
gomela/results
gomela/result*/*
gomela/result*/*/*
gomela/result/*
gomela/result/*/*
gomela/result/*/*/*
gomela/source/*
gomela/source/*/*
gomela/source/*/*/*
gomela/projects
gomela/projects/*
gomela/todo.txt
gomela/.vscode

gcatch/tmp

# From https://github.com/github/gitignore/blob/master/Go.gitignore
# Binaries for programs and plugins
goat/goat
goat/*.exe
goat/*.exe~
goat/*.dll
goat/*.so
goat/*.dylib
goat/.vscode
goat/.DS_Store
goat/# Test binary, built with `go test -c`
goat/*.test
goat/__debug_bin
goat/# Output of the go coverage tool, specifically when used with LiteIDE
goat/*.out
goat/*_gen.go
goat/reasoning/*.pdf
goat/reasoning/*.synctex.gz
goat/reasoning/*.log
goat/reasoning/*.fls
goat/reasoning/*.fdb_latexmk
goat/reasoning/*.aux
goat/reasoning/*.html
goat/external
goat/vendor
goat/Visualization
goat/examples/src/ignore
goat/reasoning/metrics/*
goat/reasoning/metrics_result.csv
goat/reasoning/metrics_errors
goat/benchmarks/*/**/*.txt
goat/benchmarks/pdfs
goat/__pycache__
goat/*.golden
